/* estilos generales*/






.boton {
    background-color: #FDFCE5;
    width: 70px;
    height: 30px;
}





/*estilos index*/



/*estilos galeria*/







.contenedor__videos {
    display: flex;
    justify-content: center;
}

/*estilos tienda*/


/*estilos eventos*/



/*estilos nosotros*/









.color-desplegable{
    background-color: beige;
    border: solid black 1px;
}

.caja-item-1{
    grid-column-start: 2;
}

.caja-item-2{
    grid-column-start: 2;
    grid-row-start: 2;
}
.caja-item-3{
    grid-column-start: 2;
    grid-row-start: 3;
}




.caja__desplegable {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4rem;
    background-color: #F4D19B;
    margin-bottom: 2%;
}



/*estilos para distintas pantallas*/

/*estilos tablet*/

@media only screen and (min-width:451px) and (max-width:960px){

    /*estilos generales*/
    
    /*estilos index*/
    .noticia {
        display: block;
        width: 90%;
        margin-left: 5%;
    }
    /*estilos galeria*/

    .contenedor__fotos {
        margin: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 450px 450px 450px;
        gap: 30px 50px;
    }
    
    

    .subtitulo{
        display: flex;
        justify-content: center;
        
    }

    .contenedor__videos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 550px 550px;
        
    }

    /*estilos tienda*/

    

    /*estilos eventos*/

    

    .banner__evento__informacion{
        grid-column: span 2;
        display: flex;
        justify-content: center;
    }

    .compra {
        margin-bottom: 20px;
    }
 

    





    /*estilos nosotros*/

    

    
}
@media only screen and (min-width:650px) and (max-width:960px){
    /*estilos index*/
    .noticia{
        display: inline-block;
        width: 40%;
        margin-left: 7%;
    }

    .noticia__3{
        margin-left: 30%;
    }

    .oculto{
        display: none;
    }

    

    
}
/*estilos galeria*/


    

    /*estilos tienda*/

    .contenedor__producto {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: auto;
    }

    .producto{
        grid-column-start: 2;
    }

    /*eventos*/

    


/*estilos mobile*/

@media only screen and (max-width:450px){

    /*estilos generales*/
   
   

    .pie__caja {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 35px 35px 35px 35px;
        gap: 5%;
    }
    .elemento__copyright{
        grid-row-start: 2;
        display: flex;
        justify-content: center;
    }
    
    .elemento__links{
        grid-row-start: 3;
        display: flex;
        justify-content: center;   
    }
    
    .elemento__iconos{
        grid-row-start: 4;
        grid-column-start: 1;
        display: flex;
        justify-content: center;
    }

    .noticia {
        display: block;
        width: 90%;
        margin-left: 5%;
    }

    .subtitulo{
        display: flex;
        justify-content: center;
        width: 50%;
        
    }
    /*estilos galeria*/

    .contenedor__fotos {
        margin: 5%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 30px 50px;
    }
    
    .imagen {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
        -webkit-box-shadow: 10px 11px 16px 4px rgba(0,0,0,0.46); 
        box-shadow: 10px 11px 16px 4px rgba(0,0,0,0.46);
    }
    .foto__2 {
        grid-column: span 1;
    }
    
    .foto__3 {
        grid-column: span 1;
        
    }
    
    .foto__4 {
        grid-row: span 1;
    }

    

    .contenedor__videos{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        
        
    }

    /*estilos tienda*/

    .contenedor__producto {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: auto;
    }

    .producto{
        grid-column-start: 2;
    }

    /*estilos eventos*/

    .banner__evento{
        
        width: 80%;
        display: grid;
        gap: 0px;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        
    }

    .banner__evento__informacion{
        grid-column: span 2;
        display: flex;
        justify-content: center;
    }

    .compra {
        margin-bottom: 20px;
    }

    .mapa { 
        display: none;
    }

    .oculto{
        visibility: visible;
    }


    /*estilos nosotros*/

    .input {
        width: 70%;
    }
    
    .input-texto {
        width: 90%;
    }

}
