/* estilos generales*/

*{
    padding: 0px;
    margin: 0px;
}

.cabecera {
    background-color: #D7E9F7;
}

.cabecera__imagen {
    width: 50px;
}

body {
    background-color: #FDFCE5;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-image:url("imagenes/Iconos/casa-de-perro-01.png");
    background-size: 125px 125px;
    
}

.cabecera__contenedor{
    width: 90%;
}
h1 {
    
    font-size: 50px;
    margin-top: 20px;
    margin-left: 40%;
    margin-bottom: 5%;
    background-color: #F4D19B;
    width: 20%;
    border: solid 2px black;
    display: flex;
    justify-content: center;
}

footer {
    background-color: #D7E9F7;
}


.pie__caja {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30px 30px 30px;
    gap: 5px;
}

.elemento__copyright{
    grid-row-start: 2;
    margin-left: 20px;
}

.elemento__links{
    grid-row-start: 3;
    margin-left: 20px;
}

.elemento__iconos{
    grid-row-start: 3;
    grid-column-start: 3;
    display: flex;
    justify-content: end;
}

.links__nosotros{
    margin-right: 5px;
}


.iconos__redes{
    margin-right: 10px;
    width: 24px;
}


.boton {
    background-color: #FDFCE5;
    width: 70px;
    height: 30px;
}

a:link, a:visited, a:active {
    text-decoration:none;
    color: black;
}

.subtitulo{
    
    background-color: #F4D19B;
    border: solid 2px black;
    margin-top: 3%;
    width: 20%;
    margin-left: 40%;
    text-align: center;
}

#actual {
    color: white;
    pointer-events: none; 
    cursor: default;
}

p{
    text-align: justify;
}



/*estilos index*/



#portada {
    width: 70%;
    margin: 5% 12%;
    padding: 3%;
    border: solid 3px black;
    background-color: #F4D19B;
}

.noticia {
    display: inline-block;
    background-color: #F9F3DF;
    width: 29%;
    margin-left: 3%;
    margin-bottom: 4%;
    border: solid 2px black;

}

.noticia__imagen {
    margin-left: 5%;
    margin-top: 5%;
    width: 90%;
}

.noticia__articulo {
    width: 90%;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: large;
    margin-top: 3%;
    display: flex;
    justify-content: center;
}

.texto-carousel{
    /*text-shadow: 2px -2px 8px rgba(0,0,0,0.93);*/
    text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0)
     1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px,
      rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97999px 0.28224px 0px, rgb(0, 0, 0) -1.87291px
       -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.51361px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px,
        rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px
         -0.558831px 0px;
}


/*estilos galeria*/

.video__media {
    margin: 20px;
}

.link {
    background-color: #D7E9F7;
    opacity: 0.8;
}

#links__galeria {
    display: flex;
    justify-content: center;
}


.contenedor__fotos {
    margin: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 450px 450px 450px;
    gap: 30px 50px;
}

.imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    -webkit-box-shadow: 10px 11px 16px 4px rgba(0,0,0,0.46); 
    box-shadow: 10px 11px 16px 4px rgba(0,0,0,0.46);
}

.foto__2 {
    grid-column: span 2;
}

.foto__3 {
    grid-column: span 2;
    
}

.foto__4 {
    grid-row: span 2;
}

.contenedor__videos {
    display: flex;
    justify-content: center;
}

/*estilos tienda*/

.producto {
    margin: 25px;
}

.contenedor__producto {
    display: flex;
    justify-content: center;
}

.color__producto{
    background-color: rgb(91, 155, 250);
}

/*estilos eventos*/


.banner{
    display: flex;
    justify-content: center;

margin-bottom: 30px;
}

.banner__evento{
    background-color: #F4D19B;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 15px;
    border: solid black 2px;
    border-radius: 4px;
}

.mapa{
    grid-column: span 3;
}

.banner__evento__informacion {
    margin-left: 15px;
    padding-top: 15px;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:13px;
	padding:6px 24px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}
.myButton:active {
	position:relative;
	top:1px;
}

.compra {
	box-shadow:inset 0px 1px 0px 0px #fae13c;
	background:linear-gradient(to bottom, #ffeb0a 5%, #acb044 100%);
	background-color:#ffeb0a;
	border-radius:3px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-size:13px;
	padding:6px 24px;
}
.compra:hover {
	background:linear-gradient(to bottom, #acb044 5%, #ffeb0a 100%);
	background-color:#acb044;
}
.compra:active {
	position:relative;
	top:1px;
}


/*estilos nosotros*/

.caja{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto;
    margin-bottom: 50px;
    column-gap: 10px;
}

.color-caja{
    background-color: #F4D19B;
    border: solid black 1px;
}

.color-boton{
    background-color: #F4D19B;
}

.color-desplegable{
    background-color: beige;
    border: solid black 1px;
}

.caja-item-1{
    grid-column-start: 2;
}

.caja-item-2{
    grid-column-start: 2;
    grid-row-start: 2;
}
.caja-item-3{
    grid-column-start: 2;
    grid-row-start: 3;
}


.formulario {
    background-color: beige;
    display: inline-block;
    width: 70%;
    margin-left: 15%;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    border: solid 2px black;
}

.caja__desplegable {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4rem;
    background-color: #F4D19B;
    margin-bottom: 2%;
}

#formulario {
    margin-left: 10%;
}

#enviar {
    margin-bottom: 2%;
}

.input {
    width: 80%;
}

.input-texto {
    width: 80%;
    height: 70px;
}




