@import '../base/listas';
@import '../base/extend';
@import '../base/maps';

main{
    section{
        .banner{
            @extend %flex_ejeX;
            margin-bottom: 30px;
            .banner__evento{
                background-color: nth($colores, 4);
                width: 80%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                grid-template-rows: auto;
                gap: 15px;
                border: map-get($borde , borde-1);
                border-radius: 4px;
                .banner__evento__informacion{
                    margin-left: 15px;
                    padding-top: 15px;
                    .myButton {
                        box-shadow:inset 0px 1px 0px 0px #54a3f7;
                        background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
                        background-color:#007dc1;
                        border-radius:3px;
                        border:1px solid #124d77;
                        display:inline-block;
                        cursor:pointer;
                        color:#ffffff;
                        font-size:13px;
                        padding:6px 24px;
                    }
                    .myButton:hover {
                        background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
                        background-color:#0061a7;
                    }
                    .myButton:active {
                        position:relative;
                        top:1px;
                    }
                    .compra {
                        box-shadow:inset 0px 1px 0px 0px #fae13c;
                        background:linear-gradient(to bottom, #ffeb0a 5%, #acb044 100%);
                        background-color:#ffeb0a;
                        border-radius:3px;
                        border:1px solid #000000;
                        display:inline-block;
                        cursor:pointer;
                        color:black;
                        font-size:13px;
                        padding:6px 24px;
                    }
                    .compra:hover {
                        background:linear-gradient(to bottom, #acb044 5%, #ffeb0a 100%);
                        background-color:#acb044;
                    }
                    .compra:active {
                        position:relative;
                        top:1px;
                    }
                }
                .mapa{
                    grid-column: span 3;
                    .collapse{
                        .card{
                            margin-bottom: 10px;
                        }
                    }
                    
                }
                .oculto{
                    display: none;
                }
            }
        }
    }
}

/*Estilos mobile*/

@media only screen and (min-width:701px) and (max-width:960px){
    main{
        section{
            .banner{
                .banner__evento{
        
                    width: 80%;
                    display: grid;
                    gap: 0px;
                    grid-template-columns: 100%;
                    grid-template-rows: auto;
                    .banner__evento__informacion{
                        grid-column: span 2;
                        display: flex;
                        justify-content: center;
                        .oculto{
                            display: none;
                        }
                        .compra{
                            margin-bottom: 20px;
                        }
                        
                    }
                }
            }
        }
    }

}

@media only screen and (max-width:700px){
    main{
        section{
            .banner{
                .banner__evento{
                    width: 80%;
                    display: grid;
                    gap: 0px;
                    grid-template-columns: 100%;
                    grid-template-rows: auto;
                    .banner__evento__informacion{
                        grid-column: span 2;
                        display: flex;
                        justify-content: center;
                    }
                    
                    .mapa{
                            display: none;
                    }
                    .compra{
                        margin-bottom: 20px;
                    }
                    
                    
                }
            }
        }
    }

}



