@import '../base/listas';
@import '../base/extend';



main{
    section{
        .link-animado{
            display: grid;
            grid-template-columns: 3fr 2fr 3fr;
            grid-template-rows: 200px;
            margin-bottom: 30px;
            .link{
                
                grid-column-start: 2;
                margin: 0 auto;
                a{
                    color: white;
                    font-size: 20px;
                    text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px, rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px, rgb(0, 0, 0) 0.705713px 2.91581px 0px, rgb(0, 0, 0) -0.287171px 2.98622px 0px, rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px, rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px, rgb(0, 0, 0) -2.94502px -0.571704px 0px, rgb(0, 0, 0) -2.59586px -1.50383px 0px, rgb(0, 0, 0) -1.96093px -2.27041px 0px, rgb(0, 0, 0) -1.11013px -2.78704px 0px, rgb(0, 0, 0) -0.137119px -2.99686px 0px, rgb(0, 0, 0) 0.850987px -2.87677px 0px, rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px, rgb(0, 0, 0) 2.88051px -0.838247px 0px;
                }
            }
            .animacion{
                grid-column-start: 2;
                .animacion-perro{
                    height: 200px;
                }
            }
        }
        
    }
}


@media only screen and (min-width:992px){
    main{
        section{
            div{
                .contenedor__fotos{
                    margin: 5%;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: 450px 450px 450px;
                    gap: 30px 50px;
                    .foto__2 {
                        grid-column: span 2;
                    }
                    
                    .foto__3 {
                        grid-column: span 2;
                        
                    }
                    
                    .foto__4 {
                        grid-row: span 2;
                    }
                    .imagen {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 8px;
                        -webkit-box-shadow: 10px 11px 16px 4px rgba(0,0,0,0.46); 
                        box-shadow: 10px 11px 16px 4px rgba(0,0,0,0.46);
                    }

                }
            
            }
            .contenedor__videos {
                display: flex;
                justify-content: center;
                .video__media {
                    margin: 20px;
                }
            }
        }
    }
}

/*estilos mobile*/

@media only screen and (max-width:991px){
    main{
        section{
            div{
                .contenedor__fotos {
                    margin: 5%;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 450px 450px 450px;
                    gap: 30px 50px;
                    .imagen {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 8px;
                        -webkit-box-shadow: 10px 11px 16px 4px rgba(0,0,0,0.46); 
                        box-shadow: 10px 11px 16px 4px rgba(0,0,0,0.46);
                    }
                    .foto__2 {
                        grid-column: span 1;
                    }
                    
                    .foto__3 {
                        grid-column: span 1;
                        
                    }
                    
                    .foto__4 {
                        grid-row: span 1;
                    }
                }
                }
               
                .contenedor__videos{
                            display: grid;
                            grid-template-columns: 1fr;
                            grid-template-rows: auto;
                            column-gap: 20%;
                            .video__media{
                                display: flex;
                                justify-content: center;
                                margin-bottom: 20px;
                            }
                            
                } 
        }
    }
}


@media only screen and (max-width:650px){
    
    main{
        section{
            div{
                .contenedor__fotos {
                margin: 5%;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto;
                gap: 30px 50px;
                }

            }
            .link-animado{
                display: grid;
                grid-template-columns: 3fr 2fr 3fr;
                grid-template-rows: 100px;
                .animacion{
                    grid-column-start: 2;
                    .animacion-perro{
                        height: 100px;
                    }
                }
            }

        }
    }
}
