@import '../base/listas';
@import '../base/extend';
@import '../base/maps';

main{
    .formulario{
        background-color: nth($colores, 5);
        display: inline-block;
        width: 70%;
        margin-left: 15%;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        border: map-get($borde , borde-1);
        .caja__no__desplegable{
            @extend %flex_centro;
            width: 100%;
            height: 4rem;
            background-color: nth($colores, 4);
            margin-bottom: 2%;
        }
        #formulario {
            width: 90%;
            margin: 0 auto;
            label{
                width: 100%;
                margin-bottom: 3px;
            }            
            .input {
                width: 100%;
            }
            .input-texto {
                width: 100%;
                height: 70px;
                margin-bottom: 3px;
            }
            #enviar {
                margin-bottom: 2%;
            }
        }
    }
    .caja{
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        grid-template-rows: auto;
        margin-bottom: 50px;
        column-gap: 10px;
        .color-caja{
            background-color: nth($colores, 5);
            
            .caja-h2{
                border: map-get($borde , borde-1);
                .color-boton{
                    background-color: nth($colores, 4);
                }
            }
        }
        .caja-item-1{
            grid-column-start: 2;
        }
        
        .caja-item-2{
            grid-column-start: 2;
            grid-row-start: 2;
        }
        .caja-item-3{
            grid-column-start: 2;
            grid-row-start: 3;
        }
    }
}
